.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title {
  position: sticky;
  top: 0;
  z-index: 1;
}

.PT {
  margin-left: 7%;
  float: left;
}

thead {
  position: sticky;
  top: 0;
  background-color: white;
}

table, th, td {
  margin-left: 0;
  margin-right: auto;
  border: 1px solid lightgray ;
}

.filter {
  position: sticky;
  top: 0;
  border: 1px solid lightgray ;
  float: left;
  width: 20%;
  /* margin-left: 0; */
}

.login {
  display: inline-block;
  position: absolute;
  right: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 1;
}

.login > label {
  float: left;
  color: white;
}

.male-char {
  text-align: center;
  color: blue;
}

.female-char {
  text-align: center;
  color: palevioletred;
}

.nonhuman-char {
  text-align: center;
  color: green;
}